<section class="h-100 flex flex-col items-center">
  <app-table [dataDisplay]="dataDisplay" [data]="shipments" class="w-full max-w-5xl">
    <ng-container matColumnDef="masterShippingDocument">
      <th mat-header-cell *matHeaderCellDef>Documento de embarque maestro</th>
      <td mat-cell *matCellDef="let element">
        {{ element.masterShippingDocument }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantityOfContainers">
      <th mat-header-cell *matHeaderCellDef>Cantidad de contenedores</th>
      <td mat-cell *matCellDef="let row">
        {{ row.quantityOfContainers }}
      </td>
    </ng-container>

    <ng-container matColumnDef="departureDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de zarpe</th>
      <td mat-cell *matCellDef="let row">
        {{ row.departureDate | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="arrivalDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de arribo</th>
      <td mat-cell *matCellDef="let element">{{ element.arrivalDate | date: "dd/MM/yyyy" }}</td>
    </ng-container>

    <ng-container matColumnDef="shippingCompany">
      <th mat-header-cell *matHeaderCellDef>Compañia de transporte</th>
      <td mat-cell *matCellDef="let element">{{ element.shippingCompany }}</td>
    </ng-container>

    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef>Ganancia</th>
      <td mat-cell *matCellDef="let element">{{ element.profit }}</td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="text-right">
        <button title="Editar" mat-icon-button (click)="edit(element)">
          <i class="fas fa-edit"></i>
        </button>
        <button title="Eliminar" mat-icon-button (click)="delete(element)">
          <i class="fas fa-store-slash"></i>
        </button>
      </td>
    </ng-container>
  </app-table>

  <div class="flex justify-center items-center text-white mt-3 space-x-2">
    <button mat-mini-fab color="accent" title="Añadir" (click)="create()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</section>
