<div mat-dialog-content>
  <h1 mat-dialog-title>
    <i class="fas fa-plus-circle"></i>
    Nueva Compañia
  </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label> RUT </mat-label>
      <input matInput formControlName="rut" />
      <mat-error *ngIf="form.get('rut').hasError('required')"> Rut es Requerido </mat-error>
      <mat-error *ngIf="form.get('rut').hasError('pattern')"> Rut no válido </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name').hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre de contacto</mat-label>
      <input matInput formControlName="contactName" />
      <mat-error *ngIf="form.get('contactName').hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email').hasError('required')"> Email es Requerido </mat-error>
      <mat-error *ngIf="form.get('email').hasError('email')"> Email no válido </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="warn" type="button" (click)="close()">
        <i class="fas fa-times-circle"></i>
        Cancelar
      </button>
      <button mat-raised-button color="primary">
        <i class="fas fa-save"></i>
        Guardar
      </button>
    </div>
  </form>
</div>
