<section class="flex flex-col justify-center items-center">
  <h1 class="text-4xl lg:text-3xl my-4">Registrarse</h1>

  <form class="w-72" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="relative mt-8" [ngClass]="{ invalid: formValidator.isInvalid('email') }">
      <input id="email" formControlName="email" class="input__primary peer" placeholder="*" />
      <label for="email" class="label">Correo Electrónico</label>
      <span class="fas fa-envelope input__icon"></span>

      <div class="error__messages" *ngIf="formValidator.isInvalid('email')">
        <small *ngIf="form.get('email')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('email')?.hasError('email')">Email no válido</small>
      </div>
    </div>

    <div class="relative mt-8" [ngClass]="{ invalid: formValidator.isInvalid('password') }">
      <input id="password" type="password" formControlName="password" class="input__primary peer" placeholder="*" />
      <label for="password" class="label">Contraseña</label>
      <span appTogglePassword></span>

      <div class="error__messages" *ngIf="formValidator.isInvalid('password')">
        <small *ngIf="form.get('password')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('password')?.hasError('minlength')">Mínimo de caracteres 8</small>
      </div>
    </div>

    <div class="relative mt-8" [ngClass]="{ invalid: formValidator.isInvalid('repeatPassword') }">
      <input
        id="password"
        type="password"
        formControlName="repeatPassword"
        class="input__primary peer"
        placeholder="*"
      />
      <label for="password" class="label">Repetir Contraseña</label>
      <span appTogglePassword></span>

      <div class="error__messages" *ngIf="formValidator.isInvalid('repeatPassword')">
        <small *ngIf="form.get('repeatPassword')?.hasError('required')">Campo requerido</small>
        <small *ngIf="form.get('repeatPassword')?.hasError('minlength')">Mínimo de caracteres 8</small>
      </div>

      <div class="error__messages" *ngIf="form.invalid && (form.dirty || form.touched)">
        <small *ngIf="form.errors?.repeatPassword">Las contraseñas no coinciden</small>
      </div>
    </div>

    <button type="sumbit" class="btn__primary mt-10 w-full">aceptar</button>
  </form>
  <a
    [routerLink]="['/auth', 'login']"
    class="mt-8 block text-sm text-center font-semibold text-blue-900 hover:underline"
    >Iniciar Sesión</a
  >
</section>
